<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>사이즈:</h3>
<h3 th:text="${size}"></h3>

<table>
    <tr>
        <th>1a</th>
        <th>2b</th>
        <th>3c</th>
        <th>4d</th>
        <th>5e</th>
    </tr>

    <tr th:each="test1 : ${test1}">
        <td th:text="${test1.column_name1}"></td>
        <td th:text="${test1.column_name2}"></td>
        <td th:text="${test1.column_name3}"></td>
        <td th:text="${test1.column_name4}"></td>
        <td th:text="${test1.column_name5}"></td>
    </tr>

</table>

</body>
</html>